$soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $Very-dark-blue;
}
a:hover {
    color: $Soft-red;
}

h1 {
font-weight: 800;
font-size: 2.7rem;
}

p {
    color: $Dark-grayish-blue;
    font-size: 16px;
    font-weight: 400;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: $Off-white;
}
body.filter {
    background-color: $Grayish-blue;
}

main {
    margin: 40px 5%;
    height: 100vh;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #close-btn, .hambuger{
        display: none;
    }

    .logo {
        width: 45px;
    }

    .nav-desktop {
        display: flex;
        flex-direction: row;
        column-gap: 50px;
    }


    .nav-link {
        transition: 0.7s ease;
    }
}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    column-gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 2.3;

    .top {
        background-image: url(assets/images/image-web-3-desktop.jpg);
        background-size: cover;
        height: 200px;
    }

    .down {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        column-gap: 20px;

        .down-1, .down-2 {
            width: 50%;
        }
        .down-2 {
            position: relative;
            button {
                position: absolute;
                margin-top: 20px;
                border: none;
                background-color: $Soft-red;
                padding: 10px 20px;
                color: white;
                cursor: pointer;
                transition: 0.7s ease;
                bottom: 0;
            }
            button:hover {
                background-color: $Very-dark-blue;
            }
        }
    }
    
}

.right {
    flex: 1;
    background-color: $Very-dark-blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;

    h2 {
        color: $soft-orange;
    }
    p {
        color: $Grayish-blue;
    }
    hr {
        background-color: $Dark-grayish-blue;
        height: 1px;
        border: none;
    }
}

.foot {
    display: flex;
    margin-top: 20px;
    column-gap: 20px;

    .blog {
        display: flex;
        flex: 1;
        column-gap: 10px;

        h2 {
            color: $Grayish-blue;
        }
        h3 {
            cursor: pointer;
            transition: 0.7s ease;
        }
        h3:hover {
            color: $Soft-red;
        }

        .img-1 {
            background-image: url(assets/images/image-retro-pcs.jpg);
            min-width: 60px;
            background-size: cover;
        }
        .img-2 {
            background-image: url(assets/images/image-top-laptops.jpg);
            min-width: 60px;
            background-size: cover;
        }
        .img-3 {
            background-image: url(assets/images/image-gaming-growth.jpg);
            min-width: 60px;
            background-size: cover;
        }
    }
}

@media (max-width: 670px) {
    main {
        margin: 5% 20px;
    }

    a {
        font-size: 20px;
        &:hover {
            font-weight: bold;
        }
    }

    header {
        nav {
            display: none;
        }
        nav.menu-btn {
            display: block;
        }
        nav {
            flex-direction: column;
            position: fixed;
            z-index: 99;
            width: 70%;
            top: 0;
            right: 0;
            height: 100vh;
            padding: 30px;
            background-color: $Off-white;

            .nav-desktop {
                flex-direction: column;
                gap: 30px;
                margin-top: 100px;
            }
        }
        #close-btn, .hambuger {
            display: flex;
            cursor: pointer;
        }
        #close-btn {
            float: right;
        }
    }

    .main {
        flex-direction: column;
    }
    .left {
        .top {
            height: 300px;
        }
        .down {
            flex-direction: column;
            .down-1, .down-2 {
                width: 100%;
            }
            .down-2 {
                padding: 20px 0 60px 0;
            }
        }
    }
    .right {
        margin-top: 50px;
        gap: 30px;
        padding: 30px 15px;
    }

    .foot {
        margin-top: 50px;
        flex-direction: column;
        gap: 30px;

        .blog {
            height: fit-content;
        }
    }
}